.hero-img {
  position: relative;
  /* border-radius: 50%; */
  /* background-color: azure; */
}

.hero-img__img {
  
  display: block;
  border-radius: 50%;
  background-color: aliceblue;
}

.hero-img__decorators {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  animation: spin 10s linear 0s infinite;
}

.hero-img__decorator {
  position: absolute;
}

.hero-img__decorator:nth-child(1) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.hero-img__decorator:nth-child(2) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.hero-img__decorator:nth-child(3) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.hero-img__decorator:nth-child(4) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}


@media (min-width:768px) {
  .hero-img__img{
    width: 360px;
    height: 360px;
  }
  .hero-img__decorator{
    width: 80px;
    height: 80px;
  }
}