.card {
  border-radius: var(--primary-border-radius);
  box-shadow: 0 0 0.125rem 0.125rem var(--reverse-primary-shadow-color);
  overflow: hidden;
  max-width: 320px;
  margin: 0 auto;
  transition: box-shadow 0.25s;
  z-index: 10;
  /* background-color: ; */
}

.card:hover{
  box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color);
}

.card__header {
  background-color: var(--primary-shadow-color);
  padding: 00.5rem 1rem;
  
}

.card__title {
  font-size:1.5rem ;
  /* text-align: center; */
  margin: 0;
}

.card__title--sm{
  font-size: 0.125rem;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--secondary-shadow-color);
  padding: 1rem;
}

.card__subtitle {
  font-size:1.25rem ;
  /* text-align: center; */
  margin: 0;
}

.card__text {
  /* display: none; */
  font-size:1rem ;
  text-align: center;
  margin: 0;
}

.card__footer {
  background-color: var(--primary-shadow-color);
  padding:0.5rem 1rem;
  text-align: center;
}
@media (min-width:768px) {
  .card__title{
    font-size: 1.75rem;
  }
  .card__subtitle{
    font-size: 1.5rem;
  }
  .card__title--sm{
    font-size: 0.25rem;
  }
  .card__text{
    font-size: 1.25rem;
  }

  .card {
    max-width: 512px;
  }
  
}