.hero-img {
  position: relative;
}

.hero-img__img {
  display: block;
  border-radius: 50%;
  background-color: rgba(28, 28, 28, 0.724)
}

.hero-img__decorators {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

.hero-img__decorator {
  position: absolute;
}

.hero-img__decorator:nth-child(1) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img__decorator:nth-child(2) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.hero-img__decorator:nth-child(3) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img__decorator:nth-child(4) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}


@media (min-width:768px) {
  .hero-img__img{
    width: 360px;
    height: 360px;
  }
  .hero-img__decorator{
    width: 80px;
    height: 80px;
  }
}